<div class="fixed-top">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" routerLink="/dados_cliente">
            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            </svg>
        Simulador
        </a>
    </nav>
</div>

<div class="conteudo">

    <h5>Informações de taxas</h5>
    <h6>Os campos obrigatórios estão sinalizados com *</h6>

    <div class="form-group row" >
        <div class="col-sm-12">
            <label for="exampleInputEmail1">Concorrente *</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
                <option *ngFor="let concorrentesList of concorrentes" 
                    [value]="concorrentesList.id">
                {{concorrentesList.valor}}
                </option>
              </select>
        </div>
        <div class="col-sm-12">
            <br>
            <h5>Débito</h5>
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1">Taxa do concorrente *</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1">Desconto oferecido *</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-12">
            <br>
            <h5>Crédito</h5>
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1">Taxa do concorrente *</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1">Desconto oferecido *</label>
            <input type="text" class="form-control">
        </div>
    </div>

</div>

<div class="fixed-bottom" >
    <nav class="navbar navbar-light bg-faded" style="background: #9C9B9B !important">
        <a class="navbar-brand" routerLink="/taxa_permitida" >
            Simular
            <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            </svg>
        </a>
    </nav>
</div>