
.navbar {
    background: #EFEEEE !important;
    padding: 8px;
}

.conteudo {
    margin-top: 60px !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-bottom: 60px !important;
}
