<div class="fixed-top">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" routerLink="/info_taxas">
            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            </svg>
        Simulador
        </a>
    </nav>
</div>

<div class="conteudo">
<h5>Taxas da simulação permitidas</h5>
<h6>Todas as taxas simuladas são permitidas.
    Ofereça ao seu cliente.
</h6>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Concorrente</th>
        <th scope="col">Proposta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Débito</td>
        <td>3,5%</td>
        <td>2,5%</td>
      </tr>
      <tr>
        <td>Crédito</td>
        <td>4,5%</td>
        <td>4,21%</td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="fixed-bottom" style="margin-bottom: 55px;">
    <nav class="navbar navbar-light bg-faded" style="background: #9C9B9B !important">
        <a class="navbar-brand" routerLink="" >
            Proposta aceita
        </a>
    </nav>
</div>
<div class="fixed-bottom" >
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" routerLink="" >
            Recusar
        </a>
    </nav>
</div>