 <div class="fixed-top">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" routerLink="">
            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            </svg>
        Simulador
        </a>
    </nav>
</div>

<div class="conteudo">

    <h5>Dados do cliente</h5>
    <h6>Os campos obrigatórios estão sinalizados com *</h6>

    <div class="form-group row" >
        <div class="col-sm-6">
            <label for="exampleInputEmail1">CPF *</label>
            <input type="text" class="form-control" [value]="cpf" (input)="gravaCpf($event)">
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1">Telefone *</label>
            <input type="text" class="form-control" [value]="telefone" (input)="gravaTelefone($event)">
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" [value]="email" (input)="gravaEmail($event)">
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">Ramo de Atividade *</label>
            <select class="form-control" id="exampleFormControlSelect1" [value]="email" (input)="gravaRamoAtividade($event)">
                <option></option>
                <option *ngFor="let ramoAtividadeList of ramosAtividade" 
                    [value]="ramoAtividadeList.id" 
                    [attr.selected]="ramoAtividade">
                {{ramoAtividadeList.valor}}
                </option>
              </select>
        </div>
    </div>

</div>

<div class="fixed-bottom" >
    <nav class="navbar navbar-light bg-faded" style="background: #9C9B9B !important">
        <a class="navbar-brand" routerLink="/info_taxas" >
            Próximo
            <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            </svg>
        </a>
    </nav>
</div>