<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Simulação
  </a>
</nav>

<div class="container" >
    <div class="row">
        <a class="btn btn-secondary" [routerLink]="['/dados_cliente', dadosPesquisa]">Nova simulação</a>
    </div>
    <div class="row">
        <button type="button" class="btn btn-light">Visualizar propostas aceitas</button>
    </div>
</div>
